/* Variáveis */
:root {
    --font-family: 'Fira Sans', 'serif';
    --cor-primaria: #000;
    --cor-segundaria: #009440;
}

/* Reset e padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--cor-primaria);
}

a {
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s;
}

a:hover {
    color: var(--cor-segundaria);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/* Reutilizavel */
.titulo_sessao {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.linha {
    display: block;
    height: 3px;
    width: 90px;
    background-color: #000;
}

/* imagem clicável */
.zoom-image {
    cursor: pointer;
}

/* Estilo do fundo escurecido */
.overlay {
    display: none; /* Começa oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 45%); /* Fundo semi-transparente */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Estilo da imagem ampliada */
.overlay img {
    transition: transform 0.3s ease;
    padding: 0 20px;
    max-height: 400px;
}

/* Para fechar a imagem com o fundo */
.overlay.active {
    display: flex;
}

.link-ativo {
    color: var(--cor-segundaria);
}